
.top-wrapper {
	display: flex;
	justify-content: flex-end;
}

.about-container {
	margin-top: 40px;
}

.navbar-container {
	padding-top: 30px;
}

.nav-link {
	color: grey;
	font-weight: 700;
}

.about-header {
	font-family: "Lato";
	font-weight: 700;
	font-size: 48pt;
	margin-bottom: 100px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.subheader {
	color: grey;
}

.selected {
	color: black;
}

.about-subheader {
	margin-bottom: 20px;
}

.nav-item {
	text-align: right;
	margin-right: 40px;
	text-transform: uppercase;
	font-weight: 700;
}

.intro-text {
	text-align: left;
	margin: 80px 40px 0 40px;
}

.intro-h1 {
	font-weight: 700;
	font-size: 50pt;
	text-transform: uppercase;
}

.intro-p {
	margin: 80px 40px;
}

.intro-link {
	font-weight: 700;
}

.intro-rectangle {
  float: left;
  margin: 10px 0 0 -40px;
  border-top: 20px solid #555;
  border-right: 20px solid transparent;
  height: 0;
  width: 450px;
}

.intro-img {
  height: 50px;
  margin-right: 10px;
}

.sstp-bg {
  background-image: url("../img/sstp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(80%) brightness(40%);
  height: 950px;
  width: 67%;
}

.sstp-bg-overlay {
  height: 950px;
  width: 33%;
  padding-top: 30px;
}